
:root {
  //text
  --text-white: #ffffff;  
  --text-grey: #f2f2f2; 
  --text-yellow:#e2d1a6;
  //bg-color
  --bgc-grey:#353436;
  --bgc-black:#000000;
  --bgc-yellow:#e2d1a6;
  --bgc-white: #ffffff; 
  }