mixin down-menu
  .down-menu 
    ul.down-menu__list 
      li.down-menu__item 
        a(href="#").down-menu__link STORIA
      li.down-menu__item 
        a(href="#").down-menu__link MM DESIGN
      li.down-menu__item 
        a(href="#").down-menu__link DESIGNER
      li.down-menu__item 
        a(href="#").down-menu__link CERTIFICAZIONI